#resume{

    .container{
        max-width: 1170px;
        margin:auto;
        text-align: center;
        padding: 50px 0 0 0;

        h2{
            font-size: 30px;
            font-weight: 700;
            color: $tgray;
            line-height: 56px; 
            letter-spacing: 1px;
            text-transform: uppercase;
            
            
        } 
        p{
            
            font-weight: 400;
            font-family: "Open Sans", sans-serif;
        }
        .top{
            
            h2{
            position: relative;
            margin-bottom: 20px;
                &::before{
                    content: "";
                    background-color: lightgray;
                    position: absolute;
                    width: 120px;
                    height: 1px;
                    left: calc(50% - 60px);
                    top: 55px;
                }
                
                &::after{
                    content: '';
                position: absolute;
                display: block;
                width: 40px;
                height: 3px;
                background: #0563bb;
                top: 54px;
                left: calc(50% - 20px);
                }
            }
        }
        .resume-title{
                    
            border-left: 2px solid #0563bb;
                        }
        .bot{
            display: flex;
            margin-top: 20px;
            text-align: start;
            .left{
                flex-basis: 50%;
                margin-right: 20px;
                

                ul{
                    padding: 5px 30px;
                    
                    li{
                        padding: 2.5px 0px;
                        font-family: "Open Sans", sans-serif;
                    }

                }
            }

            .right{
                flex-basis: 50%;
            }

            h3{
                font-size: 26px;
                font-weight: 700;
                margin-top: 20px;
                margin-bottom: 20px;
                color: #45505b;

            
            }

            h4{
                line-height: 18px;
                font-size: 18px;
                font-weight: 600;
                text-transform: uppercase;
                font-family: "Poppins", sans-serif;
                color: #0563bb;
                margin: 0 0 20px 20px;
                position: relative;
                &::after{
                    content: "";
                    width: 12px;
                    height: 12px;
                    background-color: white;
                    border:2px solid $blue;
                    border-radius: 50%;
                    position: absolute;
                    top: -1px;
                    left: -29px;
                }  
            }
            p{
                font-family: "Open Sans", sans-serif;
                color: $tgray;
                font-weight: 500;
                padding-top: 5px;
                margin: 0 0 20px 20px;
            }
            
            ul{
                padding: 20px 30px;
                li{
                    padding: 2.5px 0px;
                    font-family: "Open Sans", sans-serif;
                }
            }
            .date{
                margin-left: 20px;
                color: $tgray;
                display: inline-block;
                background-color: #F7F8F9;
                font-weight: 700;
                padding: 5px 10px;
            }
        }
        
                
        margin-bottom: 50px;
    }

}